<html ng-app="notesApp">
	<head><title>Notes App</title></head>
	<style>
.username.ng-valid {
background-color: green;
}
.username.ng-dirty.ng-invalid-required {
background-color: red;
}
.username.ng-dirty.ng-invalid-minlength {
background-color: lightpink;
}
.username.ng-pristine{
	background-color: lightblue;
}
</style>
	<body ng-controller="MainCtrl as ctrl">
	<form ng-submit="ctrl.submit()" name="myForm">
		<input type="text" ng-model="ctrl.usr.username"  name="uname"required ng-minlength="4" class="username">
		<span ng-show="myForm.uname.$error.required">This field is required</span>		
		<span ng-show="myForm.uname.$error.minlength">This field should be 4</span>
		<span ng-show="myForm.uname.$invalid">
		This field is invalid
		</span>
		<input type="text" ng-model="ctrl.usr.pwd" required> 
		<input type="submit"  ng-disabled="myForm.$invalid">
	</form>	
	</body>	
	<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
	</script>
	<script type="text/javascript">
		angular.module("notesApp",[]).controller("MainCtrl",[function(){
			self=this;
			self.submit=function(){
				console.log("User submittedd",self.usr);
			}
		
		}])
		
	</script>
	</body>
</html>